.blogs-section{
    display: grid;
    grid-template-rows: repeat(2,1fs);
    margin-top: 3rem;
}
.heading-section{
    grid-row: 1/2;
}
.content-section{
    margin-top: 3rem;
    grid-row: 2/2;
    display: grid;
    grid-template-columns: repeat(2,1fs);
    column-gap: 10px;
}
.blogs-col-1{
    display: grid;
    grid-template-rows: repeat(4,1fs);
    grid-column: 1/2;
}
.blogs-col-2{
    grid-column: 2/2;
    display: grid;
    grid-template-rows: repeat(4,1fs);

}
.content-section img{
    height: 300px;
    width: 95%;

}
.content-section h4{
    color: #ff9900;
}
.content-section p{
    width: 95%;
    color: #ffffff;
    text-align: justify;
}
.blog-button{
    border: none;
    width: 95%;
    text-decoration: none;
    background-color: #ff9900;
    line-height: 2.5rem;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 0.25rem;
    text-align: center; 
}
.blog-button:hover{
    background-color: #ffffff;
    color: black;
}
.new-row{
    margin-top: 3rem;
}

@media (max-width: 700px) {
    .content-section{
        display: block;
    }
}